{% extends 'base.html' %}

{% load bootstrap_pagination %}

{% block content %}
<h2>{{ title }}</h2>
    {% for object in object_list %}
        <div class='well'>
            <div class='row'>
                <div class='col-md-8'>
                    <h4>
                        <a href='{% url 'videos_video_comments' object.1.id %}'>
                            #{{object.0}}
                            {{ object.1.title }}
                        </a>
                    </h4>
                </div>
                <div class='col-md-4'>
                    <button class='btn btn-danger'>
                        <span class='glyphicon glyphicon-heart'></span>
                        Like
                    </button>
                    <button class='btn btn-default'>
                        <span class='glyphicon glyphicon-star-empty'></span>
                        Favorite
                    </button>
                </div>
            </div>
            <div class='embed-responsive embed-responsive-16by9'>
                <iframe class='embed-responsive-item'
                 src='https://www.youtube.com/embed/{{ object.1.video_id }}/'>
                </iframe>
            </div>
            <div class='row'>
                <p>
                    {{ object.1.description }}
                </p>
            </div>
        </div>    
    {% endfor %}
    <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6 col-centered'>
            {% bootstrap_paginate page_obj show_index_range='true' range=5 %}
        </div>
        <div class='col-md-3'></div>
    </div>
{% endblock %}
